
.content-User{
    width: 40%;
    padding: 4rem;
    max-height: 50vh;
    border-radius: 1rem;
    box-shadow: 0 10px 15px 3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.h1-USer{
    font-size: 2rem;
    font-weight: 700;
}
.From-User{
    display: flex;
    flex-wrap: wrap;
}
.From-User{
    text-align: left;
    width: 100%;
    /* padding: 3rem 2rem; */
}
.inputbox-User{
    margin-top: 0.8rem;
}
.inputbox-User label{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: left;
}
.inputbox-User input{
    width: 95%;
    padding: 0.8rem;
    font-size: 1.5rem;
    background: none;
    border: 0.1rem solid rgb(92, 92, 92);
    border-radius: 1rem;
}
.User-button{
    background-color: #D6591E;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 8px 20px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
}

.User-button:hover{
    background-color: #ffffffd0;
    color: black;
    border: 1px solid black;
}
